@import "../../assets/variables";

section {
	flex: 3;
	padding: 10px 40px;

	h2 {
		margin: 10px 0 40px 0;
	}

	label {
		width: 100px;
		float: left;
		height: 25px;
		line-height: 27px;
	}

	.formGroup {
		height: 50px;
		width: 380px;
	}

	button.save {
		float: right;
	}

	input {
		border-radius: 4px;
		height: 25px;
		line-height: 25px;
		background: $elementsBackground;
		width: 250px;
		border: 1px solid $elementsBorder;
		padding-left: 7px;
		float: right;
	}

	button {
		border-radius: 6px;
		height: 25px;
		line-height: 25px;
		cursor: pointer;
		width: 100px;
		background-image: linear-gradient(to bottom, $dimGray 0%, $vanillaIce 50%);
		background-color: $elementsBackground;
		border: 0;
		outline: none;
		color: #d0c3c3;
	}

	.errorText {
		color: #ff8c78;
		display: block;
		margin-top: 4px;
		height: 17px;
		font-size: 12px;
		clear: both;
	}
}
