@import "variables";

body {
    margin: 0;
    padding: 0;
    background: $background;
    color: $color;
    font-family: $open-sans;
    font-size: 14px;
}

main {
    display: flex;
    height: 100vh;
}

input,input:focus{
    color:#fff;
    border-width: 1px;
    border-color: #292121 $dimGray $dimGray #292121;
    border-style: solid;
    outline: none;
}
