@import "variables";

body {
    margin: 0;
    padding: 0;
    background: $background;
    color: $color;
    font-family: $open-sans;
    font-size: 14px;
}

main {
    display: flex;
    height: 100vh;
}

input{
    color:#fff;
}
