@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$open-sans: 'Open Sans', sans-serif;
$background: #3a3838;
$color: #cec0c0;
$elementsBackground: #4c4c4c;
$elementsBorder: #212121;
$vanillaIce: #615454;
$dimGray: #6f6464;
